<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <app-header-inicio></app-header-inicio>
</header>

<body>
    <div class="secciones">
        <div class="sobre-nosotros">
            <h1>Sobre nosotros</h1>
            <div class="container-nosotros">
                <p>En Nutri-Soft, no solo estamos comprometidos con el bienestar de las personas, sino también con el crecimiento y la promoción de la comunidad de nutriólogos. Nuestra plataforma se ha diseñado como un entorno donde los nutriólogos pueden promocionarse, compartir su experiencia y contribuir a la educación nutricional.</p>
                <img src="../../assets/images/publicaciones/ensalada-verde.png" alt="">
            </div>
        </div>
        <div class="vision-mision">
            <h1>Vision y mision</h1>
            
            <div class="container-vision">
                <div class="column">
                    <p>
                      "En Nutri-soft, nuestra visión es transformar la forma en que las personas perciben y abordan la nutrición. Buscamos ser el principal referente en el campo de la nutrición, promoviendo la salud y el bienestar a nivel global. Nos esforzamos por ofrecer recursos de calidad, fomentar una comunidad colaborativa de profesionales de la nutrición y usuarios, y utilizar la tecnología de vanguardia para empoderar a las personas a tomar decisiones informadas sobre su alimentación y estilo de vida."
                    </p>
                  </div>
                  <div class="column">
                    <p>
                      "En Nutri-soft, nuestra misión es ser líderes en nutrición y salud. Nos dedicamos a proporcionar información precisa y actualizada, conectando a nutriólogos con individuos interesados en mejorar su bienestar a través de la alimentación. A través de la tecnología y la educación, capacitamos a las personas para tomar decisiones más saludables, enfocándonos en la importancia de la asesoría nutricional personalizada y promoviendo una alimentación consciente y sostenible. Además, impulsar un cambio positivo."
                    </p>
                  </div>
              </div>
              
        </div>
    </div>

</body>

</html>