
  button {
    margin: 10px 0;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }

.user-modal {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  
#ver-perfil{
    background-color: #F38B14;
    border-color: #F38B14;
    color: #fff;
}

#cerrar-sesion{
    background-color: #fff;
    border-color:  #081B29;
    color: #081B29;
}