<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"/>
    <title>Nutri-Soft</title>
</head>
<body>
    <div class="wrapper">
        <form action="" class="form">
            <h1 class="title">Inicio</h1>
            <div class="inp">
                <input type="text" name="" id="" placeholder="Usuario">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" placeholder="Contraseña">
                <i class="fa fa-eye"></i>  
            </div>
            <button class="submit"routerLink="/inicio" >Iniciar sesion</button>
            <p class="footer">¿No tienes una cuenta? <a routerLink="/registro" class="link">Por favor, Registrate</a></p>
        </form>
        <div></div>
        <div class="banner">
            <h1 class="wel_text">Bienvenido</h1>
            <p class="para">Comienza tu viaje hacia un <br> estilo de vida más saludable <br/>@Nutrisoft </p>
        </div>
    </div>
</body>
</html>