<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"/>
    <title>Nutri-Soft</title>
</head>
<body>
    <div class="wrapper">
        <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="title">Inicio</h1>
            <div *ngIf="showNotification" class="notification">
                Todos los campos deben ser rellenados.
            </div>
            <div *ngIf="showInvalidPassword" class="notification">
                La contraseña es inválida. <br> Inténtalo de nuevo.
            </div>
            <div class="inp">
                <input type="text" name="correo" id="correo" placeholder="correo" [(ngModel)]="correo" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" [(ngModel)]="contrasena" required [type]="showPassword ? 'text' : 'password'">
                <i class="fa fa-eye ver" (click)="togglePasswordVisibility()"></i>  
            </div>
            <button class="submit">Iniciar sesion</button>
            <p class="footer">¿No tienes una cuenta? <a routerLink="/registro" class="link">Por favor, Registrate</a></p>
        </form>
        <div></div>
        <div class="banner">
            <h1 class="wel_text">Bienvenido</h1>
            <p class="para">Comienza tu viaje hacia un <br> estilo de vida más saludable <br/>@Nutrisoft </p>
        </div>
    </div>
</body>
</html>