<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <app-header-inicio></app-header-inicio>
</header>
<body>

    <div class="secciones">
        <h1>Encuentra a tu Nutriólogo Ideal</h1>
        <div class="buscador">
            <input type="text" placeholder="Buscar Nutriólogo">
            <button>Buscar</button>
        </div>
        <!--<div class="mapa" id="map-container">
            <div id="map"></div>
        </div>-->
    </div>
</body>

</html>