@import "~font-awesome/css/font-awesome.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

header{
    margin: -8px;
}

body {
    padding: 0;
    margin: 8px -8px -8px;
    width: 100%;
    height: 100%;
    background-color: #081B29;
}

.secciones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 40x;
}

#map {
    height: 400px;
    width: 100%;
  }
  