<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <app-header-inicio></app-header-inicio>
    </header>
<!--
    <div class="secciones">
        <div>
            <label for="locationInput">Ingresa tu ubicación:</label>
            <input type="text" id="locationInput" placeholder="Ciudad, Dirección, etc.">
            <button (click)="buscarNutriologos()">Buscar</button>
          </div>
          <div id="map"></div>
    </div>
-->
</body>

</html>