@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}

body{
    margin: 0px;
    width: auto;
    height: 100%;
    background: #081b29;
    display: grid;
    justify-content: center;
    align-content: center;
}

::-webkit-input-placeholder{
    color: #eee;
}

.wrapper{
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #ff8800;
    box-shadow: 0px 4px 10px 0px #F80, 0px -4px 10px 0px #F80; 
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
}

.inp{
    align-items: center;
    border: none;
    outline: none;
    background: none;
    width: 240px;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 17px;
    position: relative;
    display: flex;
    padding-bottom: 10px;
}

.nutriologo-check{
    margin-top: 20px;
    cursor: pointer;
}

.nutriologo-check .input{
    border-radius: 2px;
    background: #FFF;
    border: none;
}

.nutriologo-check label{
    padding-left: 10px;
    cursor: pointer;
}


.inp i {
    margin-left: 61px;
}

.inp-btn{
    align-items: center;
    border: none;
    outline: none;
    background: none;
    width: 240px;
    margin-top: 20px;
    padding-right: 10px;
    font-size: 17px;
    position: relative;
    display: flex;
    padding-bottom: 10px;
}

.inp-btn button i{
    margin-left: 5px;
    color: #081b29;
}

.inp-btn button{
    color: #081b29;
    width: 100%;
    margin-left: 10px;
    font-weight: 400;
    height: 30px;
    cursor: pointer;
}

.inp::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1.5px;
    background-color: #fff;
    transition: width 0.3s;
    width: 100%;
}

.inp input{
    border: none;
    outline: none;
    background: #081b29;
    height: 20px;
    width: 206px;
    color: #fff;
}


.inp input:focus::placeholder{
    opacity: 0;
}


.submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg,rgb(255, 0, 0),#ff8800);
}


.footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 20px;
}

.link{
    color: #ff8800;
    text-decoration: none;
}

.banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, rgb(255,0,0), #ff8800);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wel_text{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.para{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}