<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <app-header-inicio></app-header-inicio>
</header>

<body>
    <div class="secciones">
        <div class="publicaciones-guardadas">
            <div class="content-texto">
                <div class="title">
                    <div class="arrow-icon">
                        <i class="fa-solid fa-less-than"></i>
                    </div>                
                </div>
                <h1>Publicaciones guardadas</h1>
            </div>
            <div class="content-guardadas">
                <div class="guardadas">
                    <img src="../../assets/images/publicaciones/ensalada-verde.png" alt="">
                    <div class="texto">
                        <h3>Tips para tener un dia lleno de energia</h3>
                        <p>¡Tips para tener un dia lleno de energia!

                            1. Dormir lo suficiente: Dormir entre 7 y 9 horas por noche es esencial para repecuperar la energia fisica y mental
                             2. Desayunar bien: Un desayuno equilibrado, rico en proteinas, fibra y carbohidratos saludables, te proporcionara la energia necesaria para comenzar el dia. 
                              3. Hidratacion: Mantenerse hidratado es clave para tener energia durante todo el dia. Se recomienda beber al menos 8 vasos de agua al dia.</p>
                    </div>
                    <button class="guardar" (click)="toggleCheckboxSave()">
                        <i class="fa fa-bookmark" [ngClass]="{ }"></i>
                    </button>
                </div>
                <div class="guardadas">
                    <img src="../../assets/images/publicaciones/ensalada-verde.png" alt="">
                    <div class="texto">
                        <h3>Tips para tener un dia lleno de energia</h3>
                        <p>¡Tips para tener un dia lleno de energia!

                            1. Dormir lo suficiente: Dormir entre 7 y 9 horas por noche es esencial para repecuperar la energia fisica y mental
                             2. Desayunar bien: Un desayuno equilibrado, rico en proteinas, fibra y carbohidratos saludables, te proporcionara la energia necesaria para comenzar el dia. 
                              3. Hidratacion: Mantenerse hidratado es clave para tener energia durante todo el dia. Se recomienda beber al menos 8 vasos de agua al dia.</p>
                    </div>
                    <button class="guardar" (click)="toggleCheckboxSave()">
                        <i class="fa fa-bookmark" [ngClass]="{ }"></i>
                    </button>
                </div>
                <div class="guardadas">
                    <img src="../../assets/images/publicaciones/ensalada-verde.png" alt="">
                    <div class="texto">
                        <h3>Tips para tener un dia lleno de energia</h3>
                        <p>¡Tips para tener un dia lleno de energia!

                            1. Dormir lo suficiente: Dormir entre 7 y 9 horas por noche es esencial para repecuperar la energia fisica y mental
                             2. Desayunar bien: Un desayuno equilibrado, rico en proteinas, fibra y carbohidratos saludables, te proporcionara la energia necesaria para comenzar el dia. 
                              3. Hidratacion: Mantenerse hidratado es clave para tener energia durante todo el dia. Se recomienda beber al menos 8 vasos de agua al dia.</p>
                    </div>
                    <button class="guardar" (click)="toggleCheckboxSave()">
                        <i class="fa fa-bookmark" [ngClass]="{ }"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>