<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <app-header-inicio></app-header-inicio>
</header>

<body>
    <div class="secciones">
        <div class="publicaciones-guardadas">
            <div class="user">
                <img src="../../assets/images/usuario.png" alt="">
                <div class="name">
                    <h2>{{ nombreUsuario }}</h2>
                </div>
            </div>
            <div class="otros-datos">
                <span>Correo: </span>
                <p>{{ correoUsuario }}</p>
            </div>
            <div class="content-texto">
                <h1>Publicaciones guardadas</h1>
            </div>
            <div class="content-guardadas">
                <div *ngFor="let pubInfo of listaPubInfo" class="guardadas">
                    <div class="header-info">
                        <div class="content-datos">
                            <div class="img-user">
                                <img src="../../assets/images/usuario.png" alt="">
                            </div>
                            <div class="text-user">
                                <span class="name-usuario">{{ pubInfo.nombre }}</span>
                                <span class="title2">{{ pubInfo.especialidad }}</span>
                            </div>
                        </div>
                        <div class="btn-funciones">
                            <button class="guardar" (click)="toggleCheckboxSave(pubInfo)" >
                                <i class="fa fa-bookmark" [ngClass]="{ 'filled': pubInfo.isCheckedSave }"></i>
                            </button>
                        </div>
                    </div>
                    <div class="body-info">
                        <div class="img-body">
                            <img src="../../assets/images/publicaciones/ensalada.png" alt="">
                        </div>
                        <div class="texto-body">
                            <span>{{ pubInfo.fecha }}</span>
                            <h6>{{ pubInfo.titulo }}</h6>
                            <ul>
                                <li *ngFor="let contenidoItem of pubInfo.contenido">{{ contenidoItem }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>