<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>

<body>
    <header>
        <app-header-inicio></app-header-inicio>
    </header>

    <div class="secciones">
        <div class="publicaciones-inicio">
            <h1>Bienvenido a Nutri-soft donde nos preocupamos por tu salud</h1>
            <div *ngFor="let pubInfo of listaPubInfo" class="pub-info">
                <div class="header-info">
                  <div class="content-datos">
                    <div class="img-user">
                      <img src="../../assets/images/usuario.png" alt="">
                    </div>
                    <div class="text-user">
                      <span class="title1">{{ pubInfo.nombre }}</span>
                      <span class="title2">{{ pubInfo.especialidad }}</span>
                    </div>
                  </div>
                  <div class="heart-reaccion">
                    <i class="fa fa-heart" [ngClass]="{ 'filled': pubInfo.isChecked }" (click)="toggleCheckbox(pubInfo)"></i>
                    <span>{{ pubInfo.likesCount }}</span>
                  </div>
                </div>
                <div class="body-info">
                  <div class="img-body">
                    <img src="../../assets/images/publicaciones/ensalada.png" alt="">
                  </div>
                  <div class="texto-body">
                    <span>{{ pubInfo.fecha }}</span>
                    <h6>{{ pubInfo.titulo }}</h6>
                    <ul>
                      <li *ngFor="let contenidoItem of pubInfo.contenido">{{ contenidoItem }}</li>
                    </ul>
                  </div>
                </div>
                <div class="btn-funciones">
                  <button class="compartir">
                    <a>Compartir</a>
                    <img src="../../assets/images/publicaciones/flecha-abajo.png" alt="">
                  </button>
                  <button class="comentarios" (click)="toggleComentarios()">
                    <a>Comentarios</a>
                    <img src="../../assets/images/publicaciones/flecha-abajo.png" alt="">
                </button>
                    <div class="comentarios" *ngIf="comentariosVisible">
                        <input [(ngModel)]="nuevoComentario" placeholder="Escribe un comentario">
                        <button (click)="agregarComentario(nuevoComentario)">Agregar Comentario</button>
                        <div *ngFor="let comentario of listaComentarios">
                            {{ comentario }}
                        </div>
                    </div>
                    <button class="seguir">
                        <a>Seguir</a>
                    </button>
                    <button class="guardar" (click)="toggleCheckboxSave(pubInfo)">
                        <i class="fa fa-bookmark" [ngClass]="{ 'filled': pubInfo.isCheckedSave }"></i>
                        <a>Guardar</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="fijo-menu">
            <div class="btn-nutriologo">
                <button class="nutriologos-disponibles">
                    <a>Ve los nutriologos disponibles en la zona</a>
                </button>
                <button class="container-chatbot">
                    <a>Chatbot</a>
                </button>
            </div>
            <div class="datos">
                <div class="sabias-que">
                    <h5>¡Sabias que!</h5>
                    <p>100 gr de alitas de pollo es igual a 300 kg de pechuga de pollo asada que tiene 75 k cal</p>
                    <img src="../../assets/images/publicaciones/alitas.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>